# Supabase — dapatkan dari: https://supabase.com/dashboard/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://ykbaigixqosmlhsoibuu.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlrYmFpZ2l4cW9zbWxoc29pYnV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNTM1MjYsImV4cCI6MjA5NTkyOTUyNn0.EWpOzM-WyXDklvPpAMMxEk_ctHM3zhturqL4BmEoio0
